<% layout('layouts/boilerplate') %>
    <h1><%= course.title %></h1>
    <p><%= course.link %></p>
    <p><%= course.description %></p>
    <p> <a href="/courses/<%=course._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/courses/<%=course._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <a href="/courses">back to courses</a>