<% layout('layouts/boilerplate') %>

<h1> <%= teacher.name  %> </h1>
<h2> <%= teacher.email %> </h2>
<p> <%= teacher.description %> </p>

<% if (currentUser) { %>
 <% if(toString(currentUser._id) === toString(teacher._id) || currentUser.role === 'admin' || currentUser.role === 'super admin') { %>
    <a href="/teachers/<%= currentUser._id %>/edit">edit profile</a>
 <% } %>
<% } %>


<% if (teacher.courses) { %>
    <% teacher.courses.forEach(course => { %>
     <h3><%= course.title %></h3>
     <p><%= course.description %></p>
    <% }) %>
<% } %>